body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: gainsboro;
    cursor: pointer;
}
li{
    list-style: none;
}


.header_1{
    color:red;
    background: grey;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    
    width: 100%;
    z-index: 20;
    
    
}




.header_1 p::after{
    content:"WE SHIP WORLDWIDE" ;
    animation: animate infinite 5s;
}
@keyframes animate{
    0%{
        content: "15% SHIPPING OFF ALL TENT";
    }
   
}
.header_2{
    
   
    background-color:white;
    height: fit-content;
    position: fixed;
    
    width: 100%;
    top:5%;
    z-index: 20;
    box-shadow: 0 7px #E8E6E6;
}
.header_2>div{
    margin-left: 2em;
   
    color: #fff;
    font-size: 40px;
    height: fit-content;
    display: flex;
    background: #fff;
   
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    height: 10vh;
    
   
    
}
.header_2>div{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    
}
nav>ul{
    color: black;
    display: flex;
    justify-content: space-between;
   
    width: 40vw;

}
nav{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
    
.header_2{
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    justify-content: space-between;
}
nav>ul>li:nth-child(2){
    position: relative;
    
}
nav>ul>li:nth-child(2)>ul{
    display: none;
    position: absolute;
    background: inherit;
    color: gray;
    flex-direction: column;
    top: 1em;
    white-space: nowrap;
    padding: .5em;
    left:-100%;
   
    
}
.login{
    display: flex;
    color: #000;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5em;
    width: 4vw;
}

.box{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    

    
}  
.box p{

    color: #fff;
    position: absolute;
    left: 30%;
   
    
    
    
    
}
.box>div{
    display: flex;
    justify-content: end;
    align-items: center;

    
}
nav>ul>li:nth-child(2):hover ul{
   
    background: #fff;
    color: grey;
    
    display: flex ;
    justify-content: center;
    align-items: center;
    


}
nav>ul>li:nth-child(2)>ul>li:hover a{
    cursor: pointer;
    color: #000;
}
nav>ul>li:hover>a{
    color: #000;
}
nav>ul>li span{
    color: #000;
    font-weight: bold;
}
.header_3{
    background-color: ;
    
    margin-top: 5em;
    position: unset;
    z-index: -50;

}
.header_3>div{
    margin-left: 5em;
    margin-right: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100vh,auto);
    grid-gap: 2em;

    

}
.boxs{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    padding-top: 5%;
    padding-left: 6%;
    color: #fff;
    

}
.one{
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url("image/first_pic.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid yellow;
    color: #000; !important
    
    
    
}
.two{
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url("image/second_pic.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    


}
.three{
    grid-column-start: 2;
    grid-column-end: 5;
    background-image: url("image/third_pic.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.four{
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url("image/4th_image.webp");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding-bottom: 2em; !important
}
.boxs button{
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    
    
    white-space: nowrap;
    width: fit-content;
    margin-top: 5%;
    height: 8vh;
}
.boxs button:hover{
    background-color: #000;
}


.boxs>p:first-child{
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 2em;
    white-space: nowrap;
    
    
    max-width: 100%;
    padding-right: 1em;
}
.boxs>p:nth-child(2){
    font-size: 20px;
    line-height: 1em;
    
    
    
}
.four button{
    margin-top: 2%; !important
}
.logos{
    height: 70vh;
}
.logos>div{
    background-image: url("image/logo_1.webp");
    margin-right: 5em;
    margin-left: 5em;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: purple;
    
}
.giving{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    

}
.giving>p:nth-child(2){
    font-size: 24px;
    font-style: bold;
    
    letter-spacing: .05em;

}
.giving>p:last-child{
    letter-spacing: .1em;
    
}
.give_cointainer{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
}
.logos>div>p{
    font-size: 40px;
    padding-bottom: 1em;
}
.logos button{
    color: #fff;
    background: purple;
    margin-top: 2em;
    height: 8vh;
    width: 8vw;
    white-space: nowrap;
}
.boxs button:hover{
    cursor: pointer;
    background: #000;
}
.logos button:hover{
    background: #000;
}
.selling_cointainer{
    margin-left: 6em;
    margin-right: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.selling_cointainer>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    white-space: nowrap;
    font-size: 40px;


}

.selling_cointainer>div:first-child div{
    
}
.line{
   
    width: 35%;
}
.selling_items{
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    
    
    width: 100%;
}
.best_items>div:first-child{
    background: red;
    width: fit-content;
    height: 4vh;
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}


.best_items{
    position: relative;
    background-image: url("image/coat.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
    background-size: cover;
    margin-top: 1em;
    
}

.button1{
    position: absolute;
    bottom: 0%;
    left:0%;
    width: 100%;
    height: 7vh;
    display: none;
    background: red;
    padding-left: 35%;
    padding-top: .5em;
    font-size: 20px;
    
}
.best_price{
    position: relative;
    
    height: 12vh;
}
.button2{
    position: absolute;
    bottom: 0%;
    
    width: 100%;
    height: 50%;
    background: red;
    display: none;
    padding-left: 30%;
    padding-top: .5em;
    font-size: 18px;
    
    

}
.coat1:hover .best_items{
    background-image: url("image/blue_coat.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
}
.coat1:hover .button1{
    display: flex;
}
.coat1:hover .button2{
    display: flex;
}

.best_items2{
    position: relative;
    background-image: url("image/green_product.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
    background-size: cover;
    
}
.coat2:hover .best_items2{
    background-image: url("image/orange_product.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
}
.coat2:hover .button1{
    display: flex;
}
.coat2:hover .button2{
    display: flex;
}
.best_items3{
    position: relative;
    background-image: url("image/yellow_tent.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
    background-size: cover;
    margin-top: 1em;
}
.best_items3>div:first-child{
    background: red;
    width: 4.5vw;
    height: 4vh;
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.coat3:hover .best_items3{
    background-image: url("image/green_tent.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
}
.coat3:hover .button1{
    display: flex;
}
.coat3:hover .button2{
    display: flex;
}
.sale_price{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.sale_price>p:first-child{
    text-decoration: line-through;
}
.best_items4{
    position: relative;
    background-image: url("image/blue_punchingbag.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
    background-size: cover;
    

    
}
.coat4:hover .best_items4{
    background-image: url("image/ash_punchingbag.webp");
    background-repeat: no-repeat;
    
    height:50vh;
    width: 100%;
    background-size: cover;
}
.coat4:hover .button1{
    display: flex;
    
}
.coat4:hover .button2{
    display: flex;
}

.selling_cointainer>button{
    margin-top: 3em;
    background: red;
    color:#fff;
    height: 7vh;
    width: 7vw;
}
.selling_cointainer :hover{
    cursor: pointer;
}
.best_selling{
    position:unset;
    z-index: -50;
}
.last_section{
    margin-left: 6em;
    margin-right: 6em;
    
}
.last{
    margin-top: 3em;
}
.last_section>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    white-space: nowrap;
    font-size: 40px;


}
.last_section>div:last-child{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.last1{
    width:100%;
    height: 100%;
    font-size: 32px;
    display: none;
}
.last_section2>div{
    height:50vh;
    width: 100%;
    color: #fff;
}
.last_section2>div:first-child{
    background-image: url("image/last_1.jpg");
    background-repeat: no-repeat;
    
    
    background-size: cover;
}
.last_section2>div:first-child:hover .lastone{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.last_section2>div:nth-child(2){
    background-image: url("image/last_2.jpg");
    background-repeat: no-repeat;
    
    
    background-size: cover;
}
.last_section2>div:nth-child(2):hover .lasttwo{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.last_section2>div:nth-child(3){
    background-image: url("image/last_3.jpg");
    background-repeat: no-repeat;
    
    
    background-size: cover;
}
.last_section2>div:nth-child(3):hover .lastthree{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.last_section2>div:last-child{
    background-image: url("image/last_4.jpg");
    background-repeat: no-repeat;
    
    
    background-size: cover;
}
.last_section2>div:last-child:hover .lastfour{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.last{
    position:unset;
    z-index: -50;
}
footer{
    background-image: url("image/footer_1.webp");
    margin-top: 2em;
    height: fit-content;
    
    background-repeat: no-repeat;
    
    
    background-size: cover;
    display: grid;
    grid-row-gap: .09em;
   
    
   
    
    
    
   
   
    
    
    
}
footer>div>:first-child{
    margin: 2em;
}
footer>div:last-child{
    color: #fff;
    
    height: fit-content;
    
}
footer>div:last-child p{
    padding-left: 40%;
    font-size: 24px;
    
}


footer>div{
   
    
   
    
   

    
    
    
    
}

.footer_cointainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    height: fit-content;
    width: 100%;

    
}
.first_footer>p:first-child{
    
    margin-top: 1em;
    font-weight: bold;
    font-size: 24px;
    
    
    
    
}
.first_footer>div:nth-child(3){
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
    position: relative;
    width: 100%;
    height: 10vh;
    margin-bottom: .5em;
    
}
.lastfoot1{}

.first_footer label{
    position: absolute;
    
    bottom: 0%;
    right: 0%;
    width: fit-content;
    background-color: #fff;
    display: none;
    color: #000;
    

}
input[type=email]{
    
    height: 70%;
    

}
.first_footer>div:nth-child(3):hover label{
    display: flex;
}
.first_footer>div:nth-child(3):hover input{
    border: 7px solid grey;
}
.first_footer{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    color: #fff;
    
}
.first_footer button{
    background-color: red;
    width: 70%;
    height: 4vh;
}
    
    

    

.first_footer>p{
    padding-bottom: 1em;
}


.lastfoot{
    width: 100%;
}
.test>div:last-child{
    
}
.me1,.me2{
    width: 100%;
    color: #fff;
    padding: 4em;
    
}
.me2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}
.sub{
    background: red;
    font-size: 34px;
    border: 1px solid #000;
}

.test{
}
.chat{
    background-color: blue;
    color:#fff;
    font-size: 24px;
    position: fixed;
    right: 0;
    height: 8vh;
    width: fit-content;
    bottom:0;
    white-space: nowrap;
    line-height: 2em;
}